.home-one {
  background-image: url("https://aos.iacpublishinglabs.com/question/aq/1400px-788px/forest-fire-put-out_d518a7c5a926004e.jpg?domain=cx.aos.ask.com");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 130px 0px;
}

.home-one h1 {
  text-align: center;
  font-size: 62px;
  text-transform: uppercase;
  text-shadow: 1px 5px 1px rgba(0,0,0,0.5);
}

.report-fire h3 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.report-fire input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #f00;
  color: #f00;
  font-size: 16px;
}

input.iLocation {
  width: 100%;
}

input[type="submit"] {
  background: #f00;
  color: #fff;
  transition: all 0.25s ease-in-out;
}

input[type="submit"]:hover {
  background: #fff;
  color: #f00;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f00;
  opacity: 1;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #f00;
  opacity: 1;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #f00;
  opacity: 1;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #f00;
  opacity: 1;
}

#mapDiv {
  width: 100%;
  height: 600px;
}

.navbar-default {
  margin-bottom: 0px;
  border-radius: 0px;
  border: 0px;
  background: #f00;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}

.navbar-default .navbar-nav>li>a:hover {
  opacity: 0.8;
  color: #fff;
}

footer {
  background: #f00;
  color: #fff;
  padding: 10px 0px;
  font-size: 16px;
  margin-top: 30px;
}

footer p {
  margin-bottom: 0px;
}

#report {
  font-size: 16px;
}

.fa {
  margin-left: 15px;
  font-size: 16px;
}

i.fa-warning {
  color: #f00;
}

#check {
  display: none;
  color: #f00;
}
